
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f0e6; 
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
    background-color: #4b2e1e; 
    color: #d4af37; 
    padding: 20px 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #d4af37; 
}

.content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fffaf0; 
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    text-align: left;
    border: 1px solid #d4af37; 
}

article {
    margin-bottom: 30px;
}

h2 {
    color: #4b2e1e; 
    margin-bottom: 10px;
    font-size: 28px;
}

p {
    margin-bottom: 15px;
    color: #5f4634; 
    font-size: 18px;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #5f4634; 
    border-top: 1px solid #d4af37; 
    padding-top: 10px;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .content {
        padding: 15px;
        margin: 10px;
    }

    footer {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .content {
        padding: 10px;
        box-shadow: none; 
    }

    footer {
        font-size: 11px;
    }
}
